<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>
  <%- include('partials/_assets') %>

</head>

<body>
  <%- include('partials/_header') %>
 <%console.log("This is for Questions", data)%>


  <header>
    <h1 class="quiz-title"><%=quizTitle%></h1>
  </header>

<section class="question-container">
  <% for (const question of data) { %>
    <div class="question">
      <p>
        <%=question.question%>
      </p>
    <% for (const answer of question.answers) { %>
      <div class="answer">
        <p>
          <input type="radio" name="<%= answer.question_id%>" value="<%=answer.iscorrect%>">
          <%=answer%><br>
        </p>
      </div>
    <% } %>
    </div>
  <% } %>
</section>

