<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Page</title>
  <%- include('partials/_assets') %>

</head>

<body>
  <%- include('partials/_header') %>
 <%console.log("This is for Questions", data)%>


  <header>
    <h1 class="quiz-title"><%=quizTitle%></h1>
  </header>

<section class="question-container">
  <% for (const question of data) { %>
    <div class="question">
      <p>
        <%=question.question%>
        <% for (const answer of question) { %>
          <%=question.answer%>

      </p>
  <% for (const answer of question.answers) { %>
    <div class="answer">
      <p>

        <%=answer%>
      </p>
    </div>
    <% } %>
    </div>
  <% } %>
</section>

<input type="radio" id="answer" name="answer" value="<%=answer%>">
<label for="answer"><%=answer%></label><br>






