
<!-- THIS PAGE IS WHERE THE USER'S PAGE SHOWS -->

<!-- Displays their private quizzes and public quizzes. And allows them to create a quiz of their own (button will be linked to createQuiz.ejs file) -->

<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin/master


<!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>QuizApp</title>
  </head>

  <body>
    <header>
      <nav>
<<<<<<< HEAD
        <a href="/home/<%= user_id %>">
          <h1>QuizApp</h1>
=======
<<<<<<< HEAD
<<<<<<< HEAD
        <a href="/home/<%= user_id %>">
          <h1>KWIZY</h1>
=======
          <h1>Quiz App</h1>
>>>>>>> 8b503e25b9182e975eec4d273048d64ec26a424c
>>>>>>> 4461ff3039baf9235489691901ed3ef2ee4e14ee
        </a>
        <a href="/home/<%= user_id %>">
=======
          <h1>KWIZY</h1>
        </a>
>>>>>>> origin/master
          <div class="create-quiz-link">
            Home
          </div>
        </a>
      </nav>
    </header>
    <div class="main-container">
<<<<<<< HEAD
      <% if (userData.length > 0) {%>
      <h1>Welcome <%= userData[0].users_name %>!</h1>
      <a href="/users/createquiz/<%= userData[0].user_id %>">
        <div class="create-quiz-link">
          Create your own quiz!
        </div>
      </a>
      <h2>Here are your quizzes:</h2>
      <div class="links-container">
        <% for (let quiz of userData) {%>
        <div class="quiz-cont">
          <a href="/attempts/<%= quiz.id%>/<%= quiz.user_id %>">
            <div class="quiz-link">
              <%= quiz.name %>
              <br>
              <p><%= quiz.description %></p>
            </div>
          </a>
          <form method="POST" action="/users/<%= quiz.user_id %>/delete/<%= quiz.id %>">
            <button class="delete-btn" type="submit">Delete Quiz?
            </button>
          </form>
          <br>
        </div>
        <%}%>
    </div>
    <% } else { %>
=======
>>>>>>> origin/master
        <h1>Welcome!</h1>
        <a href="/users/createquiz/<%= user_id %>">
          <div class="create-quiz-link">
            Create your own quiz!
          </div>
        </a>
        <%}%>
      </div>
      <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
  </html>
<<<<<<< HEAD
=======
<head>
  <title>Users Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>

  <!--Bungee Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>



  <header>
    <h1 id="welcome">WELCOME TO THE QUIZ APP</h1>
  </header>

    <ul class="quizzes-container">
      <li>
        <h5>User Home Page</h5>
      </li>
    </ul>

    <div>
      <% data.forEach(function (quiz) { %>

       <div><%= quiz.title %></div>
      <% }) %>
    </div>




  <!-- Bootstrap JS -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
</body>

</html>
>>>>>>> origin/hisham
=======
>>>>>>> origin/master
